
@{
    ViewBag.Title = "Chamonix - A melhor fondue da serra";
}

<div class="container body-page-history">
    <div class="row">
        <div class="col-md-7 col-md-offset-2 barra-content">
            <div class="row">
                <div class="col-md-12 titulo-content text-center">
                    CARTA DE VINHOS E BEBIDAS
                </div>
            </div>
            <div class="row text-history">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/carta-vinho-01.jpg" class="img-rounded" style="width:100%" height="203" />
                    </div>
                    <div class="col-md-6 titulo-content">
                        Vinhos da Região<br />e Importados
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 titulo-content text-right">
                        Saques<br />de frutas
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/carta-vinho-02.jpg" class="img-rounded" style="width:100%" height="203" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/carta-vinho-03.jpg" class="img-rounded" style="width:100%" height="203" />
                    </div>
                    <div class="col-md-6 titulo-content">
                        Vodkas
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>