
@{
    ViewBag.Title = "Chamonix - A melhor fondue da serra";
}

<div class="container body-page-history">
    <div class="row">
        <div class="col-md-7 col-md-offset-2 barra-content">
            <div class="row">
                <div class="col-md-12 titulo-content text-center">
                    A FONDUE,<br />
                    <small>nossa paixão</small>
                </div>
            </div>
            <div class="row text-history">
                <img src="~/images/hist-fondue.jpg" class="img-rounded" style="width:100%" height="203" />
            </div>
            <div id="hist-fondue" class="row top10 text-history">
                <br />
                <p>A fondue (palavra feminina que significa fundido ou derretido) foi criada na Suíça Francesa em meio à Segunda Guerra Mundial.</p>
                <p>Por causa das batalhas e do inverno rigoroso, os camponeses que moravam nas regiões montanhosas não tinham como buscar mantimentos nas cidades.</p>
                <p>Para não morrer de fome, eles aproveitavam os restos de queijo, já que eram produtores de leite e fabricavam muito queijo. Com o principal ingrediente à mão e em fartura, acabaram inventando uma comida quente, simples, saborosa e nutritiva para aguentar o frio. A mistura ficava no fogo até derreter. Os camponeses, então, mergulhavam pedaços de pão no creme, enquanto borbulhava.</p>
                <p>A iguaria só ganhou fama na década de 50, quando o chefe Conrad Egli, do restaurante Chalet Suísse, em Nova York, passou a servir o prato. Para complementar, criou a fondue de chocolate, que servia de sobremesa.</p>
                <p>Apesar de ter surgido de forma rústica, a fondue se tornou uma comida refinada. Isso porque os ingredientes utilizados possuem um preço um pouco elevado, como é o caso dos queijos gouda, gorgonzola, emental e gruyère.</p>
                <p>Além de uma boa fondue, é o seu acompanhamento, um bom vinho e um local sofisticado, para aquecer ainda mais o ambiente entre amigos ou a dois.</p>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4"><hr /></div>
            </div>
            <div class="row">
                <div class="col-md-12 titulo-content text-center">
                    RACLETTE<br />
                    <small>- uma novidade apaixonante em Bento Gonçalves -</small>
                </div>
            </div>
            <div class="row text-history">
                <img src="~/images/hist-raclette.jpg" class="img-rounded" style="width:100%" height="203" />
            </div>
            <div id="hist-raclette" class="row top10 text-history">
                <br />
                <p>O nome "Raclette" é derivado da palavra francesa "racler", que significa "raspar" e tem a sua origem nos Alpes Suíços.</p>
                <p>Sua história remonta há mais de 700 anos, quando foi chamado inicialmente de Bratchäs (queijo assado) - mencionado em escritas desde 1291.</p>
                <p>O queijo semi-duro era confeccionado com leite de vaca não pasteurizado, sendo fácil de transportar e degustado por pastores e agricultores, que colocavam o bloco de queijo perto de uma lareira ou fogueira, derretendo-o e servindo com batatas, cebolas e picles.</p>
            </div>
            <div class="row"><br /><br /></div>
        </div>
    </div>
</div>
