@{
    ViewBag.Title = "Chamonix - O melhor fondue da serra";
}

<div class="container body-page">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 barra-vertical texto-barra">
            <div class="container">
                <div class="row col-md-12 titulo-barra">
                    BEM VINDO!
                </div>
                <div class="row texto-barra"><hr /></div>
                <div class="row row-space">
                    A partir de agora você já pode degustar um pouquinho dos sabores da serra gaucha. São diversas opções de fondue - doces e salgados - ou ainda experimentar a série completa.
                    <br /><br />Experiemente uma deliciosa raclette acompanhada de batatas. Não poderia faltar a famosa tábua de frios.<br /><br />E tudo isto com ingredientes de qualidade.
                </div>
                <div class="row reserva">
                    <div class="container">
                        <div class="row col-md-12 titulo-barra text-center">
                            RESERVAS
                        </div>
                        <div class="row top20">
                            Tel: 99-9999-9999<br />
                            Email: reservas@chamonix.com.br
                        </div>
                        <div class="barrinha"><hr /></div>
                        <div class="row titulo-barra">
                            HORÁRIO DE FUNCIONAMENTO
                        </div>
                        <div class="row pad20">
                            Aberto todos os dias a partir das 12hs até o último cliente
                        </div>
                    </div>                    
                </div>
                <div class="row top50 titulo-barra">
                    LOCALIZAÇÃO
                </div>
                <div class="row text-center top20">
                    BR 444, KM 18<br />
                    Vale dos Vinhedos<br />
                    Bento Gonçalves, RS
                </div>
            </div>
        </div>
        <div class="col-md-9"></div>
    </div>
</div>