
@{
    ViewBag.Title = "Chamonix - O melhor fondue da serra";
}
<div class="container body-page">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 barra-vertical texto-barra">
            <div class="container">
                <div class="row col-md-12 titulo-barra">
                    VENHA NOS VISITAR
                </div>
                <div class="row texto-barra"><hr /></div>
                <div class="row row-space">
                    Estamos bem no coração do Vale dos Vinhedos, na tradicional Serra Gaucha. Aqui o clima é sempre aconchegante, propício a um jantar acompanhado de quem mais amamos. Há poucos minutinhos do centro de Bento Gonçalves.
                    <br /><br />Queremos sempre fazer deste cantinho uma passagem agradável no livro da vida de cada visitante.
                </div>
                <div class="row texto-barra"><hr /></div>
                <div cla="row">
                    BR 444, Km 18
                    <br />Vale dos Vinhedos
                    <br />Bento Gonçalves - RS
                    <br />Tel: 54-96450-0905
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-offset-1 barra-content">
            <div class="row">
                <div class="col-md-12 titulo-content text-center">
                    LOCALIZAÇÃO
                </div>
            </div>
            <div class="row top10">
                <div class="col-md-12">
                    <img src="~/images/chamonix-house.jpg" class="img-rounded img-responsive" />
                </div>
            </div>
            <div class="row top20">
                <div class="col-md-12">
                    <div id="map" class="img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function initMap() {
        var uluru = { lat: -29.196360, lng: -51.555092 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
        infowindow = new google.maps.InfoWindow({
            content: '<center><strong><span style="color:red">Chamonix Fondue</span></strong><br><span style="color:black">BR 444, Km 18<br>Vale dos Vinhedos<br>Bento Gonçalves - RS</span></center>'
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
        infowindow.open(map, marker);
    }
</script>
<script async defer
        src="@ViewBag.Gmap">
</script>