
@{
    ViewBag.Title = "Chamonix - A melhor fondue da serra";
}

<div class="container body-page">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 barra-vertical texto-barra">
            <div class="container">
                <div class="row col-md-12 titulo-barra">
                    RESTAURANTE
                </div>
                <div class="row texto-barra"><hr /></div>
                <div class="row row-space">
                    Ambiente acolheder e agradável representando bem o clima da serra gaucha, uma das mais belas do Brasil. Acompanhando à mesa, sempre pratos de qualidade com ingredientes selecionados de fornecedores da região e importados.
                </div>
                <div class="row row-space">
                    Uma experiência singular, onde o sabor dos nossos pratos vem sempre acompanhados de muita dedicação e carinho.
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-offset-1 barra-content">
            <div class="row">
                <div class="col-md-12 titulo-content text-center">
                    <h2>FONDUES,<br />RACLETTES E TÁBUAS DE FRIOS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/img-rest-01.jpg" class="img-rounded" width="302" height="203" />
                </div>
                <div class="col-md-6">
                    <img src="~/images/img-rest-02.jpg" class="img-rounded" width="302" height="203" />
                </div>
            </div>
            <div class="row top10">
                <div class="col-md-6">
                    <img src="~/images/img-rest-03.jpg" class="img-rounded" width="302" height="203" />
                </div>
                <div class="col-md-6">
                    <img src="~/images/img-rest-04.jpg" class="img-rounded" width="302" height="203" />
                </div>
            </div>
            <div class="row top10">
                <div class="col-md-6">
                    <img src="~/images/img-rest-05.jpg" class="img-rounded" width="302" height="203" />
                </div>
                <div class="col-md-6">
                    <img src="~/images/img-rest-06.jpg" class="img-rounded" width="302" height="203" />
                </div>
            </div>
        </div>
    </div>
</div>

