<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Excluir agendamento</h4>
        </div>
        <div class="modal-body">

            <h4 class="text-danger">Confirma a exclusão deste agendamento?</h4>
            <div class="top20">
                <input type="button" id="excluirConta" value="Excluir" data-id="@ViewBag.IdPedido" class="btn btn-danger " />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#excluirConta').click(function () {
        var id = $(this).data('id');
        $.ajax({
            url: '/Erp/Pedido/Delete',
            type: 'POST',
            data: { 'id': id },
            datatype: 'json',
            success: function (result) {
                if (result.success == true) {
                    window.location.href = '/Restaurante/Conta/Create?message=Agendamento excluído';
                } else {
                    $('#modal').html(result.message);
                }
            }
        });
    });

</script>